.footer-container {
  background-color: var(--color-white);
  overflow: hidden;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 100px;
  padding-bottom: 10px;

  --mask:
    radial-gradient(178.89px at 50% 240px, #000 99%, #0000 101%)
      calc(50% - 160px) 0/320px 100%,
    radial-gradient(178.89px at 50% -160px, #0000 99%, #000 101%) 50% 80px/320px
      100% repeat-x;
  mask: var(--mask);
}

.footer-container h2 {
  color: var(--color-green);
  font-family: "Sour Gummy", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
  padding-top: 0px;
  margin-top: 0px;
  text-align: center;
}

.flex-row {
  list-style-type: none;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer-container li a {
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  color: var(--color-black);
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer-container li a:hover {
  color: var(--color-pink);
}

.footer-container svg {
  color: var(--color-green);
  margin-top: 7px;
}

.footer-container svg:hover {
  color: var(--color-pink);
}

/*
.footer-container button {
  background-color: var(--color-primary);
  color: #f7e1d7;
  border-color: var(--color-primary);
  border-radius: 12px;
  border: 2px solid;
  padding: 10px;
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 26px;
  width: 40px;
  text-align: center;
  align-items: center;
}

.footer-container button:hover {
  background-color: #f7e1d7;
  border-color: var(--color-primary);
  color: var(--color-primary);
  cursor: pointer;
}
*/
