* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  min-height: 100vh;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

html {
  --color-pink: #F194B4;
  --color-white: #FFF7EB;
  --color-green: #005600;
  --color-red: #C71A56;
  --color-black: #251605;

  --color-primary: var(--color-pink);

  scrollbar-color: var(--color-primary) var(--color-white);
  scrollbar-width: thin;
}
