.topnav {
  overflow: hidden;
  background-color: #f7e1d7;

  display: flex;
  align-items: center;
}

.topnav ul {
  width: 100%;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.topnav a {
  height: 100%;
  float: left;
  color: #1e212b;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  width: 120px;
  display: flex;
  align-items: center;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.topnav button {
  margin: 0px;
  border: none;
  background: none;
  height: 100%;
}

/* Consider display: inline-block (and no align-items: center ?) for above in .topnav a*/

/* Change the color of links on hover */
.topnav a:hover {
  color: #87bce7;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #edafb8;
  color: #fff8ee;
}

#burgerButton {
  display: none;
  cursor: pointer;
}

#burgerButton:hover {
color: #87bce7;
}

.nav-buttons {
  display: flex;
  align-items: center;
  height: 48px;
  width: 100%;
}

@media (max-width: 600px) {
  .topnav {
    &.closed {
      ul {
        /* This is what we were working on */
        display: none;
      }
    }
    &.open {
      flex-direction: column;
      /* padding-bottom: 80px; */
    }
  }

  .topnav ul {
    flex-direction: column;
    text-align: center;
  }

  #burgerButton {
    margin-left: auto;
    display: block;
  }
}
