* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  min-height: 100vh;
}

html {
  scrollbar-color: #edafb8 #f7e1d7;
  scrollbar-width: thin;
}

.grid-background {
  background-size: 10px 10px;
  background-image:
    linear-gradient(to right, #edafb8 1px, transparent 1px),
    linear-gradient(to bottom, #edafb8 1px, #f7e1d7 1px);
}

.topnav {
  background-color: #f7e1d7;
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 10px;

  --mask:
    radial-gradient(43.5px at 50% calc(100% - 61.5px), #000 99%, #0000 101%)
      calc(50% - 60px) 0/120px 100%,
    radial-gradient(43.5px at 50% calc(100% + 31.5px), #0000 99%, #000 101%) 50%
      calc(100% - 30px)/120px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.topnav ul {
  width: 100%;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-icon {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  color: #edafb8;
  float: right;
  margin-right: 20px;
  margin-top: 5px;
  display: none;
}

.topnav li {
  height: 85px;
}

.topnav a {
  height: 100%;
  float: left;
  color: #1e212b;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 50px;
  text-decoration: none;
  font-size: 17px;
  width: 120px;
  display: flex;
  align-items: center;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Consider display: inline-block (and no align-items: center ?) for above in .topnav a*/

/* Change the color of links on hover */
.topnav a:hover {
  color: #87bce7;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #edafb8;
  color: #fff8ee;
}

.topnav li:first-child {
  margin-right: auto;
}

@media (max-width: 600px) {
  .topnav ul {
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
  }
  .menu-icon {
    display: block;
  }
  #menuList {
    transition: all 0.5s;
  }
}

body {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

/* main {
  margin: 8px;
}
*/

.box {
  background-color: #fff8ee;
  width: 100%;
  height: auto;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 50px;
  padding-bottom: 120px;

  --mask:
    radial-gradient(178.89px at 50% 240px, #000 99%, #0000 101%)
      calc(50% - 160px) 0/320px 51% repeat-x,
    radial-gradient(178.89px at 50% -160px, #0000 99%, #000 101%) 50% 80px/320px
      calc(51% - 80px) repeat-x,
    radial-gradient(178.89px at 50% calc(100% - 240px), #000 99%, #0000 101%)
      calc(50% - 160px) 100%/320px 51% repeat-x,
    radial-gradient(178.89px at 50% calc(100% + 160px), #0000 99%, #000 101%)
      50% calc(100% - 80px)/320px calc(51% - 80px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

h1 {
  color: #87bce7;
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  padding-top: 35px;
  margin-bottom: 0px;
}

h2 {
  color: #87bce7;
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  padding-top: 50px;
}

.box h2 {
  text-align: center;
}

p {
  color: #5a5a58;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.flex-container {
  display: flex;
  gap: 50px;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.container1 {
  flex: 2;
}

.container2 {
  flex: 1;
  text-align: center;
}

.trio {
  flex: 1;
  text-align: center;
}

h3 {
  flex: 1;
  text-align: center;
  color: #87bce7;
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

/* .container1 {
  display: flex;
} */

button {
  background-color: #fc7f4d;
  color: #fff8ee;
  border-color: #fc7f4d;
  border-radius: 12px;
  border: 2px solid;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button:hover {
  background-color: #fff8ee;
  border-color: #fc7f4d;
  color: #fc7f4d;
}

.footer {
  background-color: #f7e1d7;
  overflow: hidden;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 100px;
  padding-bottom: 80px;

  --mask:
    radial-gradient(178.89px at 50% 240px, #000 99%, #0000 101%)
      calc(50% - 160px) 0/320px 100%,
    radial-gradient(178.89px at 50% -160px, #0000 99%, #000 101%) 50% 80px/320px
      100% repeat-x;
  mask: var(--mask);
}

.footer h2 {
  color: #edafb8;
  font-family: "Modak", system-ui;
  font-weight: 100;
  font-style: normal;
  font-size: 30px;
  padding-top: 0px;
  margin-top: 0px;
}
