.grid-background {
  background-size: 10px 10px;
  background-image:
    linear-gradient(to right, #edafb8 1px, transparent 1px),
    linear-gradient(to bottom, #edafb8 1px, #f7e1d7 1px);
}

/* Add a black background color to the top navigation */
 .topnav {
  background-color: #f7e1d7;
  overflow: hidden;
}

/*
  .box {
  --mask:
    radial-gradient(11.66px at 50% calc(100% - 16px),#f7e1d7 99%,#f7e1d7 101%) calc(50% - 20px) 0/40px 100%,
    radial-gradient(11.66px at 50% calc(100% + 6px),#f7e1d7 99%,#f7e1d7 101%) 50% calc(100% - 10px)/40px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}
*/

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #1e212b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
